[Unit]
Description= --- Hubload Network test script ---
After=multi-user.target

[Service]
Type=simple
ExecStart=sudo /opt/hubload/libc/hubnetwork
StandardOutput=file:/var/log/hubload_network.log
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
