[Unit]
Description= --- Start Hubload JAVA ---

[Service]
User=root
Type=simple
ExecStart=sudo /opt/hubload/java/startjava.sh
StandardOutput=file:/var/log/hubload_java.service.log
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
